In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'Company': ['GOOG', 'GOOD', 'MSFT', 'MSFT', 'FB', 'FB'],
    'Person': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
    'Sales': [200, 120, 340, 124, 243, 350]
}

In [4]:
df = pd.DataFrame(data)
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOD  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [10]:
byComp = df.groupby('Company')
byComp

In [15]:
byComp.sum()

             Person  Sales
Company
FB        CarlSarah    593
GOOD        Charlie    120
GOOG            Sam    200
MSFT     AmyVanessa    464

In [16]:
byComp.std()

ValueError: could not convert string to float: 'Sam'