In [9]:
import pandas as pd
import numpy as np
import random

In [3]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2 ,3]
hire_index = list(zip(outside, inside))
hire_index = pd.MultiIndex.from_tuples(hire_index)

In [7]:
list(zip(outside, inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [8]:
pd.MultiIndex.from_tuples(hire_index)

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [15]:
d = {'A': [1, 2, np.nan], 'B': [5, np.nan, np.nan], 'c': [1, 2, 3]}
df = pd.DataFrame(d)
df

     A    B  c
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [16]:
df.dropna(axis = 1)

   c
0  1
1  2
2  3

In [17]:
df.dropna()

     A    B  c
0  1.0  5.0  1